# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Pytest
.cache/

# mypy
.mypy_cache/

# log files
*.log

# coverage
.coverage
.coverage.*
htmlcov/

# Unofficial symlinks
*.swp
*.swo
*.tmp

# others
.DS_Store
Thumbs.db
