# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environments
env/
venv/
.venv/
.venv_mkt/
.venv_old/
.venv*/
ENV/
env.bak/
venv.bak/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints/

# Pytest
.cache/

# mypy
.mypy_cache/

# log files
*.log

# coverage
.coverage
.coverage.*
htmlcov/

# Unofficial symlinks
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Project Specific
mkt/engine/gunicorn.ctl
swebench_data/
swebench_repo_structure.zip
*.pdf
*.zip
